@(claims : Seq[String])
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
            <body>

    @helper.form(routes.OpenidConnect.confirm) {

    <h1>The RP requesting access to the following claims:</h1>

    <ul>
        @for(claim <- claims) {
        <li>@claim</li>
        }
    </ul>
    <p>
    </p>
    <p>
        <input type="radio" name="trust" value="once" checked>Trust this site this time only <br />
        <input type="radio" name="trust" value="always" >Trust this site always <br/>

        <button type="submit" id="cancelbutton" name="authorize" value="deny">Deny</button>&nbsp;&nbsp;&nbsp;
        <button type="submit" id="okbutton" name="authorize" value="allow">Allow</button>

    </p>

    }

</body>
</html>